<footer class="footer">

  <div class="row">

    <div class="col-md-6">
      <ul class="list-unlisted">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/m-rousse"><i class="fa fa-github"></i> <span class="username">m-rousse</span></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/roussemath"><i class="fa fa-twit-icon"></i><span class="username">roussemath</span></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
