<div class="header clearfix">

  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
      {% for my_page in site.pages %}
      {% if my_page.title %}
      <li role="presentation"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>

      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <h3 class="text-muted">Test</h3>
</div>